.heroSection
  display: flex
  flex-direction: column
  align-items: flex-start
  background-color: rgb(255, 255, 255)
  border-radius: 24px
  padding: 25px 25px 4px 25px
  box-shadow: 0 16px 32px rgb(0 0 0 / .04)
  margin: 0 0 30px 0

  .sectionTitle
    box-sizing: border-box
    font-size: 20px
    font-weight: 700
    margin: 10px 0

  .sectionDescription
    box-sizing: border-box
    color: rgb(130, 130, 130)
    display: block
    ont-size: 16px
    font-weight: 400
    height: 72px
    line-height: 24px
    margin-bottom: 48px

  .buttonSection
    box-sizing: border-box
    padding: 20px 0

    .button
      background: linear-gradient(-45deg, #5A73ED 0%, #3D57D5 100%)
      border-radius: 8px
      padding: 15px 25px
      color: rgb(255, 255, 255)

      .buttonText
        font-weight: 700

      .arrowRight
        background-image: url('../../../public/staticImages/next-long-arrow-right-svgrepo-com.svg')
        background-size: cover
        background-position: center
